<main class="flex flex-col min-h-screen">
  <button class="w-8 h-8 bg-blue-600 hover:bg-blue-700 text-white rounded-lg flex justify-center items-center shadow-lg my-4 ml-4"
          (click)="playSounds = !playSounds"
          [matTooltip]="playSounds ? 'Desligar efeitos sonoros' : 'Ligar efeitos sonoros'"
          matTooltipPosition="right"
          matTooltipClass="bg-black/50 text-white rounded-lg">
    <mat-icon>{{ playSounds ? 'volume_off' : 'volume_up' }}</mat-icon>
  </button>

  @if (!isMatchInProgress) {
    <div class="flex-1 grid sm:grid-cols-1 md:grid-cols-2 gap-y-4 justify-items-center items-center w-full">
      <app-teams [teams]="images"
                 [playSounds]="playSounds"
                 (selectedTeam)="leftTeam = $event">
      </app-teams>

      <app-teams [teams]="images"
                 [playSounds]="playSounds"
                 (selectedTeam)="rightTeam = $event">
      </app-teams>
    </div>

    <footer class="mt-auto flex justify-center py-4">
      <button class="w-40 sm:w-44 p-1 sm:p-2 mt-6 rounded-full bg-blue-600 text-white shadow-lg"
              [disabled]="!leftTeam || !rightTeam"
              [ngClass]="{'opacity-50': !leftTeam || !rightTeam,
                      'hover:bg-blue-700 transition cursor-pointer': leftTeam && rightTeam}"
              (click)="startMatch()">
        Ir para a partida
      </button>
    </footer>
  } @else {
    <div class="flex-1 grid sm:grid-cols-1 md:grid-cols-3 gap-y-4 justify-items-center items-center w-full">
      <app-teams #left
                 [teams]="leftTeam"
                 [isMatchInProgress]="true"
                 [trucoPoints]="trucoPoints"
                 [playSounds]="playSounds"
                 (selectedTeam)="leftTeam = $event"
                 (handScored)="resetTruco()"
                 (teamWon)="onTeamWin()">
      </app-teams>

      <button (click)="truco()"
              class="w-52 p-1 sm:p-2 bg-zinc-800 text-white rounded-lg flex justify-center items-center gap-2 shadow-lg cursor-pointer">
        <mat-icon>sports_soccer</mat-icon>
        <span class="text-lg sm:text-xl w-1/2">{{ trucoLabel }}</span>
        <mat-icon>sports_soccer</mat-icon>
      </button>

      <app-teams #right
                 [teams]="rightTeam"
                 [isMatchInProgress]="true"
                 [trucoPoints]="trucoPoints"
                 [playSounds]="playSounds"
                 (selectedTeam)="rightTeam = $event"
                 (handScored)="resetTruco()"
                 (teamWon)="onTeamWin()">
      </app-teams>
    </div>

    <footer class="mt-auto flex justify-center py-4">
      <button class="w-40 sm:w-44 p-1 sm:p-2 mt-6 rounded-full bg-blue-600 text-white shadow-lg"
              [ngClass]="{'opacity-50': !leftTeam || !rightTeam,
                          'hover:bg-blue-700 transition cursor-pointer': leftTeam && rightTeam}"
              (click)="finishMatch()">
        Alterar Times
      </button>
    </footer>
  }
</main>
