<div class="wrapper">
  <div class="field">
    <div class="line-field">
      <div class="field-border"></div>

      <div class="central-line"></div>
      <div class="central-circle"></div>
      <div class="central-point"></div>

      <div class="area area-top"></div>
      <div class="small-area small-area-top"></div>

      <div class="area area-bottom"></div>
      <div class="small-area small-area-bottom"></div>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
