@import "tailwindcss";

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #315027;
  background-image: url('../public/background/campo-de-futebol-de-cima.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}



.dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: color-mix(in oklab, var(--color-black) 70%, transparent) !important;
}
